<launch>
    <node name="leo_docking" pkg="leo_docking" type="docking_main" clear_params="true"
        output="screen">
        <rosparam command="load" file="$(find leo_docking)/config/docking_config.yaml" />
    </node>

    <node name="aruco_tracker" pkg="nodelet" type="nodelet"
        args="standalone aruco_opencv/ArucoTracker" output="screen">
        <rosparam command="load"
            file="$(find leo_docking)/config/aruco_tracker.yaml" />
        <param name="board_descriptions_path"
            value="$(find leo_docking)/config/board_descriptions.yaml" />
    </node>
</launch>