<launch>
    <node name="leo_docking" pkg="leo_docking" type="docking_main" clear_params="true" output="screen">
        <rosparam command="load" file="$(find leo_docking)/config/docking_config.yaml" />
    </node>

    <!-- <include file="$(find aruco_opencv)/launch/single_marker_tracker.launch"/> -->
    <node name="aruco_tracker" pkg="nodelet" type="nodelet" args="standalone aruco_opencv/SingleMarkerTracker">
        <rosparam command="load" file="$(find aruco_opencv)/config/single_marker_tracker.yaml" />
    </node>
</launch>